<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="Member" resultType="Member">
		select * from member where id=#{id}
	</select>

	<!-- 회원가입 -->
	<insert id="insert" parameterType="Member">
		insert into member(member_id,id,pass,name) values(seq_member.nextval,#{id},#{pass},#{name})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="Member" resultType="Member">
		select * from member where id=#{id} and pass=#{pass}
	</select>
	
	<!-- 멤버 조회 -->
	<select id="select" parameterType="int" resultType="Member">
		select * from member where member_id=#{member_id}
	</select>
</mapper>